.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.rotate20 {
  .rotate(20deg);
}

.my-cap { 
  margin:3px;
  text-align:center;
  font-style:italic;
  width:100%
}

.buffer {
  height:100px;
}

.contact-block{
  width:33%;
  display: inline-block;
  float:left;
/*  margin-left: 5px;*/
  margin-right: 5px;
}
  
body {
  font-weight: 300;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6em;
/*  font-size: 20px;*/
}

.splash {
  height: 25em;
  padding-top: 9em;
  margin-bottom: 2em;
  background-size: cover;
  color: #fff;
  vertical-align: middle;
  text-shadow: 5px 5px 5px #000;
  text-align: center;
  background-repeat: no-repeat;
}

.splash-scorer {
  height: 12em;
  padding-top: 3em;
  margin-bottom: 1em;
  background-size: auto;
  color: #fff;
  vertical-align: middle;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../images/card_suits.jpg");
}

.teams {
  display: none;
}

.game {
  display: none;
}

.btn-player {
  display: none;
}

.btn-bid {
  display: none;
}

.btn-suit {
  display: none;
}

.btn-decision4 {
  display: none;
}

.btn-decision5 {
  display: none;
}

.btn-decision-other {
  display: none;
}

.btn-tricks {
  display: none;
}

#btn-restart {
  display: none;
}

#scorer-body {
  min-height: 100%;
  position: relative;
}

.full-height {
  top:12em;
  bottom:0%;
}

.help-footer {
  position: absolute;
  bottom: 0%;
}

.bckgrd-1{
/*  position: absolute;*/
  background-image: url("http://imgsrc.hubblesite.org/hu/db/images/hs-2007-16-e-xlarge_web.jpg");  
/*  background-size: 100%;*/
/*  background-attachment: fixed;*/
/*  background-position: ;*/
}

.bckgrd-2{
/*  position: absolute;*/
  background-image: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2012-10-a-xlarge_web.jpg');
/*  background-size: 100%;*/
/*  background-attachment: fixed;*/
}

.bckgrd-3{
/*  position: absolute;*/
  background-image: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2009-25-i-xlarge_web.jpg');
/*  background-size: 100%;*/
/*  background-attachment: fixed;*/
}

.bckgrd-4{
/*  position: absolute;*/
  background-image: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2006-01-q-xlarge_web.jpg');
/*  background-size: 100%;*/
/*  background-attachment: fixed;*/
}

.bckgrd-5{
/*  position: absolute;*/
  background-image: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2009-02-a-xlarge_web.jpg');
/*  background-size: 100%;*/
/*  background-attachment: fixed;*/
}

.navbar-default {
  position: absolute;
  background-color: transparent;
  top: 10px;
  text-shadow: 2px 2px 2px #000;
  width: 100%;
}

.navbar-default .navbar-brand {
  font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}

.btn {
  font-size: 20px;
}

.pre-x-scrollable {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}